/Assets/Models/** filter=lfs diff=lfs merge=lfs -text
/Assets/Music/IAMHALO_album/** filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/GoogleVR/Plugins/x86_64/audioplugingvrunity.dll filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/GoogleVR/Plugins/x86/audioplugingvrunity.dll filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/GoogleVR/Plugins/x86_64/audioplugingvrunity.bundle filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/GoogleVR/Plugins/iOS/libaudioplugingvrunity.a filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/Glowing[[:space:]]Mushroom[[:space:]]Forest/Textures/** filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/Fireflies/Textures/** filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/Odds_N_Ends[[:space:]]Series[[:space:]]-[[:space:]]Tropical[[:space:]]Foliage[[:space:]]v1.0/Textures/** filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/Malbers[[:space:]]Animations/Horse[[:space:]]AnimSet[[:space:]]Pro/Animations/Horse/Horse[[:space:]]Anims[[:space:]]1.FBX filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/PostProcessing/Textures/** filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/EarthRendering[[:space:]]Free/Earth_color_shadow.png filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/EarthRendering[[:space:]]Free/Earth_night_cloud.png filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/GoogleVR/Plugins/x86_64/instant_preview_shared.dll filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/GoogleVR/Plugins/x86/instant_preview_shared.dll filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/GoogleVR/Plugins/x86_64/instant_preview_unity_plugin.bundle filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/GoogleVR/Plugins/x86_64/libaudioplugingvrunity.so filter=lfs diff=lfs merge=lfs -text
/Assets/Plugins/MeshTracer/Plugins/sky5X/sky5X_textures/skyX52+y.png filter=lfs diff=lfs merge=lfs -text
